<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark ">
  <span class="navbar-brand mb-0 h1 mx-auto">Json To Interface Generator </span>
</nav>

<form>
  <div class="container form-group">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Json Input:</label>
          <textarea
            name="jsonInput"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="10"
            [(ngModel)]="jsonInput"
          ></textarea>
        </div>
      </div>

      <div class="col-sm  wrapper ">
        <div class="form-group align-middle ">
          <button
            type="button"
            class="btn btn-primary"
            (click)="generateTypescript()"
          >
            Convert
          </button>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Generate Interface:</label>
          <textarea
            name="interface"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="10"
            [(ngModel)]="outputString"
          ></textarea>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
      <div class="col-sm"> </div>
    <div class="col-sm"><div *ngIf='errorMsg' style="background-color:aliceblue; text-align: center ; color : red"> ERROR : {{errorMsg}}</div></div>
    <div class="col-sm"> </div>
  </div>
</form>
